:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

html {
  width: 100%;
  font-size: 16px;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  ::selection {
    background-color: rgba(53,166,247,0.25);
  }
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Emoji, Helvetica,
    Arial, sans-serif;
  color: #484848;
  line-height: 1.15;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
